*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
:root{
  --he-bg-body:#f6f6f687;
  --gold:#b9a157;
  --ingeniar1:#31bdc1;
  --ingeniar2:#d77c48;
  --ingeniar3:#39475a;
  --mkro-home1:#17171d;
  --mkro-home2:#ea1515;
  --mtghfn1:#e65240;
  --mtghfn2:#ad1918;
  --mtghfn3:#121212;
  --he-blue:#3A8BD3;
  --he-red:#FF0000;
  --he-green:#2FD793;
  --he-cream  :#E6D7B7;
  --he-mid-grey  :#626161;
  --he-dark-grey: #252525;
  --he-darker-grey: #181818;
  --he-light-grey:#f8f9f9;
}
html, body {
    background-color:var(--he-bg-body);
    /* height: 100%; */
    min-height: 100vh;
    color: var(--mkro-home1);
    font-smooth: a;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    font-family: 'Av-Book', sans-serif !important;
  }
  ::selection{color: white; background-color: var(--he-blue);}
  html > #moodboard{
    background-color: var(--he-darker-grey) !important;
  }
  /*-------------------------------------*/
  /*-----------CLASES GENÉRICAS---------*/
  .grid{display:grid;}
  .flex{display: flex;}
  .float--left{float: left;}
  .float--right{float:right;}
  .text-center{text-align: center;}
  .white{color: var(--he-light-grey);}
  .of-hidden{overflow: hidden;}

  /*-----------LINKS---------*/
  a{color: var(--he-cream) !important; text-decoration: none !important; transition: all .25s ease-in-out;}
  a:hover{color: var(--he-red) !important; text-decoration: none !important;}
  p a, ul a :not(.nav-menu .nav-menu-link){color: var(--he-red) !important;}
  p a:hover, ul a:hover{color: var(--gold) !important;}
  .feature-title-link-wrapper{
    max-width: 500px;
  }
  a .feature-title{transition: all .35s ease-in-out; position: relative;}
  a .feature-title:hover{
    /* -webkit-text-stroke: 2px; -webkit-text-stroke-color: var(--gold); */
    font-size: 5.7rem;
    -webkit-text-fill-color:transparent; color: transparent; background-image: linear-gradient(88deg, #b9a157, #51a344, #5063ac, #c23533, #17171d); 
    background-size: 1000% 1000%; padding-top: 27px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: HiThereGrad1 5s ease infinite;
    -moz-animation: HiThereGrad1 5s ease infinite;
    -o-animation: HiThereGrad1 5s ease infinite;
    animation: HiThereGrad1 5s ease infinite;
  }
  @-webkit-keyframes HiThereGrad1 {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
    }
    @-moz-keyframes HiThereGrad1 {
        0%{background-position:0% 51%}
        50%{background-position:100% 50%}
        100%{background-position:0% 51%}
    }
    @-o-keyframes HiThereGrad1 {
        0%{background-position:0% 51%}
        50%{background-position:100% 50%}
        100%{background-position:0% 51%}
    }
    @keyframes HiThereGrad1 {
        0%{background-position:0% 51%}
        50%{background-position:100% 50%}
        100%{background-position:0% 51%}
    }
  a .feature-title:before{
    content: ""; position: absolute;
    width: 20px; height: 20px; display: block;
    background-image: url('../imgs/icons/link-icon-Small.png');
    background-repeat: no-repeat;
    background-position: center;background-size: contain;
    left: 0;
  }

  /*-------------------------------------*/
  /*-----------GLOBAL HEADER/FOOTER---------*/
  #globalHeader{
    position: fixed;
    width: 100%; z-index: 1000;
    display: block; height: 100%; max-height: 6em;
    border-bottom: none;
    background-color: transparent;
    box-shadow: none;
    transition: all .35s ease-in-out;
  }
  #globalHeader.active{
    border-bottom: 1px solid #840000;
    background-color: #0f0f0ff5;
    box-shadow: 2px 2px 8px #17171db3;
    max-height: 4em;
  }
  #globalHeader.active .nav-container{
    height: 50px;
  }
  #globalHeader.active .nav-container .nav-menu{
    margin-top: -5px; font-size: .9rem;
  }
  #he-nav{
    grid-template-columns: 1fr 1fr;
    align-items: start; position: relative; justify-content: space-around;
  }
  #he-nav .nav-items, #globalFooter ul{
    list-style-type: none;
  } 
  a.navbar-brand.he-brand{
    display: block; height: 115px; width: 92px; margin-top: -20px; padding-top: 1rem; background-color: #1c1c1c;
  }
  a.navbar-brand.he-brand img{
    width: 85px; background-color: transparent; min-height: 94px; padding: 2px;
  }
  .nav-menu{
    justify-content: flex-end; transition: all .35s ease-in-out;
  }
  .nav-menu-link{
    filter: drop-shadow(2px 1px 1px #00000038);
    --moz-filter: drop-shadow(2px 1px 1px #00000038);
    --ms-filter: drop-shadow(2px 1px 1px #00000038);
    --webkit-filter: drop-shadow(2px 1px 1px #00000038);
  }
  .moodboard-link{
    border: 1px solid var(--he-red);
  }
  .nav-menu-link_active{
    background-color: var(--he-red);
    padding: 8px;
    color: black !important;
  }
  .nav-toggle{
    background:none; border:none; color: var(--he-cream); font-size: 30px;
    line-height: 60px; width: 40px; height: 40px;
    display:none;
  }
  .open-menu,
  .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
  }
  .close-menu {
    align-self: flex-end;
    padding: 20px 15px;
  }
  .menu_opened {
    opacity: 1;
    pointer-events: all;
  }
  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none;
  }
  .menu a::after {
    content: none;
  }
  .menu a:hover,
  .menu a.selected {
    color: var(--secundary-color);
  }
  .nav-menu-link, #LangSwitcher a, .cta-body{
    padding: 8px;
  }
   .cta-body:hover, .nav-menu-link.selected, .nav-menu-link:hover, .nav-menu-link[aria-current="page"], #LangSwitcher:hover, #LangSwitcher a:hover{
    background-color: var(--he-red);
    color: white !important;
  }
  #LangSwitcher{
    position: fixed;
    right: 0;
    z-index: 4;
    width: 65px;
    height: 50px;
    top: 12%;
    align-items: center;
    justify-content: center;
    transition: all .25s ease-in-out;
  }
  #back-to-top-btn {
    display: block; position: fixed;
    right: 3%; bottom: 50%;
    height: 43px; width: 43px;
    z-index: 1000;
    background-color: var(--he-red);
    border-radius: 50%;
    background-image: url('../imgs/icons/scrollTopWhite.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    visibility:hidden; opacity: 0;
    transition: all .6s ease-in-out;
    border: none;
}
  #back-to-top-btn:hover{
    transform: scale(1.2);
  }
.scrollTop.active, #back-to-top-btn.active{
  visibility: visible;
  opacity: 1;  bottom: 5%;
}
  /*-----------FOOTER---------*/
  #globalFooter{
    background-color: black; border-bottom: 2px solid var(--gold);
  }
  #globalFooter ul .main-sitemap-link{
    margin-bottom: .5rem;
  }
  .wa-link{
    padding: 3rem;
  }
  .wa-link img{ max-width: 80px;}
  .block-widget{
    position:relative;
  }
  .block-widget iframe{
    min-height: 400px; 
  }
  .widget-ig-link{
    background-color: transparent; 
    position: absolute; max-height: 500px; width: 100%; min-height: 370px; z-index: 4; top: 0; left: 0; cursor: pointer; display: flex; align-items: center; justify-content: center; height: 100%;
    opacity: 0;
  }
  .widget-ig-link:hover
  {
      background-color: #000000c2; filter: blur(3);
      opacity: 1;
  }
  #globalFooter .social-links ul li{
    margin: 0.5rem;
  }
  #globalFooter .disclaimer {
    border-top: 1px solid #323333; padding-top: 0.7rem;
  }
  #globalFooter .disclaimer p{
    font-size: 14px;
  }

  /*-------------------------------------*/
   /*-----------TEXTOS---------*/
   /* h1,h2,h3,h4,h5,h6{font-family: 'htf47' !important; margin-bottom: 3rem;} */
   h1,h2,h3,h4,h5,h6{font-family: 'htf47' !important; margin-bottom: 3rem;}
   h1 strong,h2 strong,h3 strong,h4 strong,h5 strong,h6 strong{font-family: 'htf47' !important; margin-bottom: 3rem;}
  ul li{line-height: 1.3rem;}
   #hi-there:not(#hi){font-size: clamp(2.7em, -0.875em + 8.333333vw, 4em);margin-bottom: 0; line-height:clamp(1em, -0.875em + 8.333333vw, 1em); color: white; display: block; margin-bottom: 17px;}

   #hi{
    -webkit-text-stroke: 2px; -webkit-text-stroke-color: var(--he-blue); -webkit-text-fill-color:#181818;
    font-size: 3em; text-transform: uppercase;
   }
   #hi.esp{ font-size: 2.3em;}

   b,strong{font-family: 'Av-Bold' !important;}
    em{font-family: 'Av-Italic' !important; word-break: break-all;}
    u{text-decoration-color: var(--he-blue)}
    p{letter-spacing: 0.3px !important; font-size: clamp(1rem, 1.3rem, 1.5rem);}
    .white{color: white;}
    .cream-one{color: var(--he-cream);}
    .gold-one{color: var(--gold);}
    .red-one{color: var(--he-red);}
    .green-one{color: var(--he-green);}
    .blue-one{color: var(--he-blue);}
    .lightGrey{color: var(--he-light-grey);}
    .darkGrey{color: var(--he-dark-grey) !important;}
    .ingeniarTxt{color: var(--ingeniar1);}
    .mtghfnTxt{color: var(--mtghfn1);}
    .feature-title{font-size: clamp(10em, -0.875em + 8.333333vw, 20em); line-height: clamp(3rem, 1.5vw, 5.3rem); transform: rotateZ(-7deg); font-family: 'htf47' !important; z-index: 10; max-width: 800px; display: block; text-transform: uppercase; letter-spacing: 2.5px; font-weight: bold; 
    }
    .project-title{line-height: 9.4rem;}
   /* .feature-title:before{
    content: "{";
    position: absolute;
    top: 0; left: 0;
    height: clamp();
    } */
    /*Section-title-container*/
    .Section-title-container{
      width: 100%; max-width: 800px;
    }
   h2.project-title__home{
    transform: translate(6rem); position: relative;
   }
   /* h2.project-title__home::before{
    content: "";
    position:absolute;
    right: 100%;
    top: 50%;
    right: 100%;
    transform: translate(-5%);
    background: black;
    width: 5rem;
    height: 2px;
    display: block;
   } */
  
   .featured-text, p{
    font-size: clamp(1rem, 1.5vw, 1.4rem); line-height: clamp(1.7rem, 1.25vw, 2rem) !important;
   }
   .super-text{font-size: 2.8rem; line-height: 4rem !important;}

/*--------------------------------------------*/
  /*--------------SECCIONES------------*/
  section[id]{
    scroll-margin-top: 50px;
  }
  section{min-height: 200px; max-height: fit-content; position: relative; overflow: hidden;}
  /* section .container-fluid:not(#main-header.container-fluid, #featured-projects .container-fluid){padding: 3rem; border: 2px solid prple;} */

   /*____HERO____*/
 #main-header{
  /* background-image:url('../imgs/bgs/25-VE-exhibition-Hall.jpg') !important; */
  background-image:url('../video/MRB-01.mp4') !important;
    background-color: black;
    background-position:top center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0%, 100% 83%, 50% 100%, 0% 83%);
 }
   #he-hero{
    width:100%;
    /* overflow: hidden; */
    height: 100vh;
    position:relative;
    max-height: 1000px;
  }
  #main-header::before{content:"";background-color: #00000030;display: block;height: 100vh;width: 100%;backdrop-filter: blur(1.2px); position:absolute; top: 0; left:0; z-index:-10001;}

    /*___IMÁGENES PARALLAX___*/
  .one,.two,.three{
    max-width: 1500px;
    display: block;
    margin: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    background-color:transparent;
    position: absolute;
    right: 0; left: 0;
    pointer-events: none;
  }
  .one/*Perro*/{
    background-image:url('../imgs/Atrio_DogRooftop.webp');
      max-height: 1800px;
      min-height: 850px;
       z-index: 3; /*top: 5em; */
      top: calc(16em - 60px);
  }
  .two/*Laser naranja*/{
    background-image:url('../imgs/Atrio_OrangeLasers.png');
      max-height: 1800px;
      min-height: 700px;
      top: 9em; display: none;
  }
  .three/*Laser azul*/ {
      background-image:url('../imgs/Atrio_BlueLasers.png');
      max-width: 1000px;
      top:10em; min-height:300px;display: none;
  }
/*____REEL____*/
#videowrapper::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .3)
}

  #videowrapper .reelhero{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: -webkit-fill-available;
    object-fit: cover;
  }
  

/*____ABSTRACT____*/
section#about.about-home{
  background-image: url('../imgs/bgs/TopSemiCrcl_GreyLG.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
}
section#about .skills-home .row{
  background-image: url('../imgs/bgs/SkillsLeft_BW.svg'), url('../imgs/bgs/SkillDots_rowBG.svg'), url('../imgs/bgs/SkillsRight_BW.svg');
  background-repeat: no-repeat;
  background-position: left bottom , bottom , right bottom;
  background-size: contain;/* filter: grayscale(1); */
}
/* section#about .skills-home figure{
  filter: grayscale(0) !important;
} */
section#about .skills-home .skills-wrapper{
background-color: var(--he-light-grey); border-radius: 25px; align-items: center; justify-content: space-around; padding: 1rem; box-shadow: 0px 0px 26px #17171d1a; width:100%;
}
section#about .skills-home ul{
  font-size: 12px; visibility: visible; list-style-type: none; align-items: center; justify-content: space-around; padding: 1rem; width:100%;
}
section#about .skills-home ul li{text-align: center; width: 100%;}
section#about .skills-home ul li:not(:first-child){
  border-left: 1px solid #cdcdcd; padding-left: 4px
}
section#about .container:first-child::after {
  content: "";
  display: block;
  height: 92px;
  width: 100%;
  background-image: url('../imgs/bgs/big-chevron.svg') !important;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -40px;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  opacity: 0.150;
  z-index: -1;
}
section#about .about-bio{
  background-image: url('../imgs/bgs/bg-dotted_ornament.png'), url('../imgs/bgs/bg-dotted_ornament.png');
  background-repeat: no-repeat;
  background-position: top left, bottom right;
  background-size: 45%;
}

  /* section#featured-projects.first-banner::after{
    content: "";
    background-color:var(--mkro-home1);
    display: block; clip-path: polygon(0 9%, 48% 65%, 100% 9%, 100% 0, 0 0); border: none;
    position: absolute; bottom: -30%; left: 0; width: 100%;
    height: 100px; z-index: 4;
  } */
  /*____FEATURED PROJECTS BANNER____*/
  section#featured-projects{
    background-color: var(--mkro-home1); background-image: url('../imgs/bgs/bg-dotted-triangle-L.png'), url('../imgs/bgs/bg-circles.svg'), url('../imgs/bgs/bg-dotted-triangle-R.png');
    background-repeat: no-repeat;
    background-position: top left, center, top right;
    background-size: 27%, 100%, 27% !important; position:relative; max-height: 300px;
    display: grid; place-items: center;
      min-height: 400px;
  }
  #motoghofen-home::before{
    content: "";
    background-color:var(--mkro-home1);
    display: block; clip-path: polygon(0 9%, 50% 65%, 100% 9%, 100% 0, 0 0); border: none;
    position: absolute; top: -3px; left: 0; width: 100%;
    height: 100px; z-index: 4;
  }
  iframe{scroll-snap-type: y mandatory;}
  section .row{position:relative;}
  
    /*------BIO----*/
    .dynamic-text-wrapper{
      display: inline-flex; font-size: 2rem;
     }
     .dynamic-text-wrapper .static-text{
      font-size: 2rem;
     }
     .dynamic-text{
      padding-left: .6rem; height: 30px;
      padding-top: 3px;}
     .dynamic-text li{
      list-style-type: none; margin-bottom: 1.2rem;
      position: relative; top: 0;
      animation: slide 14s steps(6) infinite;
      }
      @keyframes slide {
        100%{
          top:-232px; padding: 0 3px;
        }
      }
      .dynamic-text li:first-child{
        margin-top: 2px;
      }
      .dynamic-text li:last-child{
        margin-top: -5px;
      }
     .dynamic-text li span{
      position: relative;}
     /* .dynamic-text li span:after{
      content: ""; position: absolute;
      background-color: var(--he-light-grey);
      top:0; left:0; width: 100%; height: 100%;
      border-left: 2px solid var(--he-blue);
      margin-left: 5px; display: inline-block;
      margin-right: 10px;
      animation: typing 1.999s steps(9) infinite;
    }
    @keyframes typing {
      100%{
        left:100%; margin: 0 -35px 0 35px;
      }
    } */

     #main-bio img{
      max-width: 700px;
      max-height: 1050px;
      transition: all .75s ease-in-out;
      filter: grayscale(0);position: absolute;
      top: 0; left: 0;
     }
     #main-bio img:hover{filter: grayscale(0);}
     #foto{position: relative;}
     #main-bio img.arq1:hover{opacity: 0;}
     #main-bio img.arq2{opacity: 0;}
     #main-bio img.arq2:hover{opacity: 1;}
     #main-bio:before{
      content: "";
      position: absolute;
      /* background-color: #212529; */
      background-color: #0e0e11;
      top: 0;
      left: 0;
      height:
      clamp(500px, 100%, 900px);
      /* width: 100%; */
      z-index: -1;
      width: clamp(25%, 40%, 100%);
      background-image: url('../imgs/bgs/bg-dotted_ornament_vert.png');
      background-repeat: no-repeat;
      background-position: top center;
     } 
     .bio-featured-text-wrapper{
      background-color: #fafafa;
     }


  /*-----------CONTENEDORES---------*/
  .container{width: 100%; position: relative;}

  /*--HERO HOME--*/
  #he-hero .images, #text-wrapper {width: 100%; position: absolute; margin:auto; z-index: 4; align-items: flex-end; /*align-self:end;*/}
  /*--Los 'hijos' de #text-wrapper están en la sección parallax--*/
  #text-wrapper{max-width: 100%; z-index: 4; bottom:19%; filter:drop-shadow(2px 4px 6px var(--mkro-home1));display: grid; grid-template-columns: repeat(3, minmax(200px, 1fr)); align-items: end; align-self: center; left:0 !important; right:0 !important; transform: translateY(-25%);}
  
  .container.text-wrapper .col:first-child{max-width: 400px; float: left;}
  .container.text-wrapper .col:last-child{max-width: 400px; float: right; justify-self: end;}
  .container.text-wrapper .col:last-child p{font-family: 'Av-Book', sans-serif; letter-spacing: 1px; font-size: 1.3rem;}
  .cta-wrapper{width: 100%; max-width: 500px; text-align: center; align-self: flex-end;}
  .container.images{top: 0;display: flex; justify-content: center; align-items: center;}
  /* .content {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    max-width: 100%;
    width: 100vw;
  } */
  .article_banner{
    max-height: 640px;
  }
  .article_banner:hover{
    overflow: scroll !important;
  }


  /*-------------------------------------*/
  /*-------------------------------------*/
  /*-----------SLIDERS DEL HOME--------*/

   /*---MOOTOGHOFEN--------*/
  #motoghofen-home{
    background-color: #121212;
    background-image: url('../imgs/motoghofen/mtghfn_bg.png');
    background-size: cover; background-position: center;
  }
  .mtghfn-home{
    background-color: transparent;
  }
   /*---INGENIAR--------*/
  .ingeniar-home{
    /* background-color: var(--ingeniar3); */
    background-image: linear-gradient(43deg, #142439, #39475a, #233145);
    background-size: 600% 600%;
    -webkit-animation: IngSectionGradient2 50s ease infinite;
    -moz-animation: IngSectionGradient2 50s ease infinite;
    -o-animation: IngSectionGradient2 50s ease infinite;
    animation: IngSectionGradient2 50s ease infinite;
  }
      @-webkit-keyframes IngSectionGradient2 {
        0%{background-position:0% 51%}
        50%{background-position:100% 50%}
        100%{background-position:0% 51%}
    }
    @-moz-keyframes IngSectionGradient2 {
        0%{background-position:0% 51%}
        50%{background-position:100% 50%}
        100%{background-position:0% 51%}
    }
    @-o-keyframes IngSectionGradient2 {
        0%{background-position:0% 51%}
        50%{background-position:100% 50%}
        100%{background-position:0% 51%}
    }
    @keyframes IngSectionGradient2 {
        0%{background-position:0% 51%}
        50%{background-position:100% 50%}
        100%{background-position:0% 51%}
    }

 /*---MAKRO OFFICE--------*/
  .mkro-home{
    /* background-color: #17171d; */
    background-image: linear-gradient(43deg, #0B0B19, #17171d, #141423, #0B0B19);
    background-size: 600% 600%;
    -webkit-animation: MkoSectionGradient1 50s ease infinite;
    -moz-animation: MkoSectionGradient1 50s ease infinite;
    -o-animation: MkoSectionGradient1 50s ease infinite;
    animation: MkoSectionGradient1 50s ease infinite;
    }
    @-webkit-keyframes MkoSectionGradient1 {
      0%{background-position:0% 51%}
      50%{background-position:100% 50%}
      100%{background-position:0% 51%}
    }
    @-moz-keyframes MkoSectionGradient1 {
        0%{background-position:0% 51%}
        50%{background-position:100% 50%}
        100%{background-position:0% 51%}
    }
    @-o-keyframes MkoSectionGradient1 {
        0%{background-position:0% 51%}
        50%{background-position:100% 50%}
        100%{background-position:0% 51%}
    }
    @keyframes MkoSectionGradient1 {
        0%{background-position:0% 51%}
        50%{background-position:100% 50%}
        100%{background-position:0% 51%}
    }
  .mkro-home-title{
    color: #ea1515;
  }

   /*---S&S--------*/
   .sys-home{
    background-color: #cf3638;
    margin-top: -1px;
    background: linear-gradient(43deg, #860306, #AC1A1E, #CF363A, #860306);
    background-size: 600% 600%;
    -webkit-animation: sysSectionGradient1 45s ease infinite;
    -moz-animation: sysSectionGradient1 45s ease infinite;
    -o-animation: sysSectionGradient1 45s ease infinite;
    animation: sysSectionGradient1 45s ease infinite;
    }
    @-webkit-keyframes sysSectionGradient1 {
        0%{background-position:0% 51%}
        50%{background-position:100% 50%}
        100%{background-position:0% 51%}
    }
    @-moz-keyframes sysSectionGradient1 {
        0%{background-position:0% 51%}
        50%{background-position:100% 50%}
        100%{background-position:0% 51%}
    }
    @-o-keyframes sysSectionGradient1 {
        0%{background-position:0% 51%}
        50%{background-position:100% 50%}
        100%{background-position:0% 51%}
    }
    @keyframes sysSectionGradient1 {
        0%{background-position:0% 51%}
        50%{background-position:100% 50%}
        100%{background-position:0% 51%}
    }

 /*---SLIDER COMPONENTS--------*/

  /* .slider__wrapper{
    scroll-snap-type: x mandatory;
  } */
  .slider__wrapper:hover{cursor: grab;}
  .slider__wrapper{
    position: relative; width: clamp(320px, 80vw, 1200px) !important; overflow: scroll; 
  }s
  .slider__item:active{cursor: grabbing, auto;}
  .slider__nav, .swiper-pagination {
    /* position: absolute; */
    bottom: -84px;border:none;
    }
    .slider__nav li{
        background-color: #333; width: 12px; height: 12px; border-radius: 50%;
    }
    .slider__nav li.tns-nav-active{
        background-color: white; 
    }
      .project-description.row.grid {
        --grid-min-size:35rem;
        position: absolute;
        grid-template-columns: repeat(auto-fill, minmax(var(--grid-min-size), 1fr));
        bottom: 0;
    }
    .swiper-cube{
      overflow: visible !important;
    }
  .project-description.row {
    /* width: clamp(350px, 100vw, 1200px); */
    height: auto;
  }
  video:not.reelhero{max-height: 600px;}
  .swiper-pagination:hover{cursor: pointer !important;}




  /*-------------EXPERIENCIA----------*/
  section#experience {
    background-image: url('../imgs/bgs/bg-circles2.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: 108%;
  }
  #experience p.featured-text::after {
    content: "";
    display: block;
    border-bottom: 1px solid var(--he-blue);
    padding-top: 2rem;
    position: relative;
    width: 50%;
    margin: auto;
}
  /* .scrollspy-wrapper .col-4{
    border-right: 1px solid #eee;
  } */
  .scrollspy-items{
    max-height: 350px;
    overflow-y: scroll;
    border-top: 1px solid #eee;
    box-shadow: inset 1px 5px 15px -7px #d5d5d5;
    background-color: var(--he-light-grey);
    border-top-right-radius:25px;
  }
  .scrollspy-items a{
    color: var(--he-red);
  }
  .scrollspy-item{
    display: flex; flex-flow: column; min-height: 175px; justify-content:flex-start; border-bottom: 1px dotted var(--he-bg-body); padding: 0 1rem;
  }
  #listExperience {align-items: end; }
  #listExperience a.list-group-item.list-group-item-action {
    text-align: right !important; width: 60%;
  }
  #listExperience a.list-group-item.list-group-item-action.active {
    background-color: var(--he-dark-grey) !important;
    color: var(--he-light-grey) !important; border-radius: 25px 0 0 25px;
  }
  
/*-------------------------------------*/
  /*-----------MOODBOARD--------*/
  .moodboard-grid, .moodboard-grid4{
    list-style-type: none;
  }
  .moodboard-grid{
    display: grid !important;
    gap:10px; place-items: center;
    grid-template-columns: repeat(3, 1fr);
    align-items: center; justify-content: center;
    padding: 0 !important;
  }
.moodboard-grid4{
    display: grid !important;
    gap:10px; place-items: center;
    grid-template-columns: repeat(4, 1fr);
    align-items: center; justify-content: center;
    padding: 0 !important;
  }
  .grid-item{
    flex:1; flex-direction: column; max-height: 1200px; width: 100%;
  }
  .grid-section img{
    filter: grayscale(1); transition: all .25s ease-in-out; scale: 1; position: relative; gap: 5px; justify-content: center; width: 100%; max-height: 1200px; object-fit: contain;
  }
  .grid-section img:hover{
    filter: none; z-index: 4;
  }
  .grid-item.col1-span-2{
    grid-column: 1 / span 2;
  }
  .grid-item.col1-span-3{
    grid-column: 1 / span 3;
  }
  .grid-item.col1-span-4{
    grid-column: 1 / span 4;
  }
  .grid-item.col2-span-2{
    grid-column: 2 / span 2;
  }
  .grid-item.col2-span-1{
    grid-column: 2 / span 1;
  }
  .grid-item.col3-span-1{
    grid-column: 3 / span 1;
  }
  .grid-item.col3-span-2{
    grid-column: 3 / span 2;
  }
  .grid-item.col4-span-1{
    grid-column: 4 / span 1;
  }
  .grid-item.col4-span-2{
    grid-column: 4 / span 2;
  }
  
